<%- include("./partials/header"); %>
<div class="d-flex align-items-center vh-100">
    <div class="container mycard text-center">
       <div class="lead"><%= message %></div> 
        <div class="h3">Username : <%= user.username %></div>
        <br>
        <button type="button" onclick="window.location.href='/home/logout'" class="btn btn-primary btn-md hm-btn">LogOut</button>
        <button type="button" onclick="window.location.href='/home/changePass'" class="btn btn-primary btn-md hm-btn">Change Password</button>
    </div>
</div>
<%- include("./partials/footer"); %>