<%- include("partials/header") %> 

<div class="d-flex align-items-center vh-100">
<div class="container mycard text-center">

    <button type="button" onclick="window.location.href='/signin'" class="btn btn-primary btn-lg hm-btn">Sign In</button>

    <button type="button" onclick="window.location.href='/register'" class="btn btn-primary btn-lg hm-btn">Register</button>

    <button type="button" onclick="window.location.href='/admin'" class="btn btn-primary btn-lg hm-btn">Show All users</button>
</div>
</div>

<%- include("partials/footer") %>